<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- SQL DataType Mapping Table to C# DataType -->
    <add key="bigint" value="Long" />
    <add key="binary" value="Long" />
    <add key="bit" value="Bool" />
    <add key="char" value="String" />
    <add key="cursor" value="Unknown" />
    <add key="datetime" value="DateTime" />
    <add key="decimal" value="Decimal" />
    <add key="float" value="Double" />
    <add key="image" value="String" />
    <add key="int" value="Int" />
    <add key="money" value="Decimal" />
    <add key="nchar" value="String" />
    <add key="ntext" value="String" />
    <add key="numeric" value="Decimal" />
    <add key="nvarchar" value="String" />
    <add key="real" value="Double" />
    <add key="smalldatetime" value="DateTime" />
    <add key="smallint" value="Short" />
    <add key="smallmoney" value="Decimal" />
    <add key="sql_variant" value="Unknown" />
    <add key="table" value="Unknown" />
    <add key="text" value="String" />
    <add key="timestamp" value="Long" />
    <add key="tinyint" value="Byte" />
    <add key="uniqueidentifier" value="Guid" />
    <add key="varbinary" value="Long" />
    <add key="varchar" value="String" />
    <add key="xml" value="String" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="DatabaseConnectionStringWindowsAuthentication" connectionString="Data Source=[SERVER_NAME];Initial Catalog=[DATABASE_NAME];Integrated Security=SSPI;" />
    <add name="DatabaseConnectionString" connectionString="Data Source=[SERVER_NAME];Initial Catalog=[DATABASE_NAME];User Id=[USER_ID];Password=[PASSWORD];" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>