<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MRM" connectionString="Server=192.168.3.101;Database=Golflinks_Master_New;User Id=webUserTCCN;Password=jimi69;"/>
    <add name="Monitoring" connectionString="Server=192.168.2.121;Database=MF_Monitoring;User Id=utility;Password=memfirst123;"/>
  </connectionStrings>
  <appSettings>
    <add key="SuccessEmail" value="production_info@membersfirst.com"/>
    <add key="FailureEmail" value="production_alerts@membersfirst.com,jlivingston@membersfirst.com"/>
    <add key="FirstTeeFailureEmail" value="cgaumnitz@membersfirst.com"/>
      
    <!-- IP Address Conversion (Until Moved to a Table) -->
    <add key="208.118.238.44" value="web022"/>
    <add key="208.118.238.46" value="web022"/>
    <add key="208.118.238.73" value="web022"/>
    <add key="208.118.238.74" value="web020"/>
    <add key="208.118.238.77" value="Web020"/>
    <add key="208.118.238.78" value="Web020"/>
    <add key="208.118.238.102" value="web020"/>
    <add key="208.118.238.103" value="web022"/>
    <add key="208.118.238.111" value="web020"/>
    <add key="208.118.238.112" value="web020"/>
    <add key="208.118.238.113" value="web020"/>
    <add key="208.118.238.114" value="web020"/>
    <add key="208.118.238.115" value="web020"/>
    <add key="208.118.238.116" value="web022"/>
    <add key="208.118.238.117" value="web022"/>
    <add key="208.118.238.118" value="web022"/>
    <add key="208.118.238.119" value="web022"/>
    <add key="208.118.238.120" value="web022"/>
    <add key="208.118.238.121" value="web022"/>
    <add key="208.118.238.122" value="web022"/>
    <add key="208.118.238.123" value="web022"/>
    <add key="208.118.238.124" value="web022"/>
    <add key="208.118.238.125" value="web023"/>
    <add key="208.118.238.126" value="web023"/>
    <add key="208.118.238.127" value="web023"/>
    <add key="208.118.238.128" value="web023"/>
    <add key="208.118.238.129" value="web023"/>
    <add key="208.118.238.130" value="web023"/>
    <add key="208.118.238.131" value="Web05"/>
    <add key="208.118.238.132" value="Web05"/>
    <add key="208.118.238.133" value="Web05"/>
    <add key="208.118.238.134" value="web024"/>
    <add key="208.118.238.135" value="web024"/>
    <add key="208.118.238.136" value="web024"/>
    <add key="208.118.238.137" value="web024"/>
    <add key="208.118.238.138" value="web024"/>
    <add key="208.118.238.139" value="Web05"/>
    <add key="208.118.238.140" value="Web05"/>
    <add key="208.118.238.141" value="Web05"/>
    <add key="208.118.238.142" value="Web05"/>
    <add key="208.118.238.145" value="web024"/>
    <add key="208.118.238.146" value="web024"/>
    <add key="208.118.238.147" value="web024"/>
    <add key="208.118.238.148" value="web024"/>
    <add key="208.118.238.149" value="web024"/>
    <add key="208.118.238.150" value="web025"/>
    <add key="208.118.238.151" value="web025"/>
    <add key="208.118.238.152" value="web025"/>
    <add key="208.118.238.153" value="web025"/>
    <add key="208.118.238.154" value="web025"/>
    <add key="208.118.238.156" value="web026"/>
    
      
    <add key="MFDining" value="http://admin.mfdining.com/portal/reservations/login"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="production_info@membersfirst.com">
        <network host="192.168.2.64" port="25" defaultCredentials="false" userName="ccmailer@mailer.memfirst.net" password="SBFCode:s/MMR4RRLp1F8x5rV98yTQ=="/>
      </smtp>
    </mailSettings>
  </system.net>  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
