ConnectionStringName,DEMO
FieldNameCase,Force Upper Case First Character
CreateHTMLDataStructure,True
IsWindowsApplication,False
BaseClassName,EntityBase
Namespace,WebApplication
StoredProcedurePrefix,ePayTemp.
IncludeViews,True
IsWindowsAuthentication,False
DatabaseList,DEMO
Password,ePayEntry
UserName,ePayEntry
ServerName,172.20.3.71
*TablesSelectedForDatabase*,DEMO
C401kFund,checked
C401kMatch,checked
C401kSource,checked
C401kStatus,checked
CAccr,checked
CAccrChart,checked
CAchTransfers,checked
CAchTransfersFile,checked
CAgency,checked
CApplicant,checked
CApplicantEvent,checked
CApplicantOptions,checked
CAutoPost,checked
CBankAccount,checked
CBatchTotals,checked
CBilling,checked
CBillingCommission,checked
CBillingDetail,checked
CCalcCodes,checked
CCalendar,checked
CCalendarDetail,checked
CCalendarDetailImport,checked
CCalendarSchedule,checked
CCalendarScheduleDetail,checked
CCalendarScheduleMove,checked
CCheckAttribute,checked
CCheckAttributeDetail,checked
CChildEnumFilter,checked
CCodeGroup,checked
CCodeGroupDetail,checked
CCustomTab,checked
CCustomTabData,checked
CCustomTabField,checked
CCustomTabFieldOption,checked
CCustomTableData,checked
CDed,checked
CDept1,checked
CDept2,checked
CDept3,checked
CDept4,checked
CDept5,checked
CEarn,checked
CEEOClass,checked
CEmpFilter,checked
CEmpStatus,checked
CEmpType,checked
CEthnicity,checked
CEventCodes,checked
CF1099M,checked
CF1099R,checked
CForm1099Setup,checked
CForm1099SetupDetail,checked
CFreq,checked
CGeoPref,checked
CGLAccounts,checked
CGLRules,checked
CHistoryImportRunDates,checked
CInfo,checked
CInsPlan,checked
CInsPlanRate,checked
CInsurance,checked
CInterviewType,checked
CJEntries,checked
CJob,checked
CLogDisplay,checked
CLookup,checked
CMiscCheckHist,checked
CNotes,checked
CPayGrades,checked
CPayGroups,checked
CPayrollGroup,checked
CPosition,checked
CRaiseReasons,checked
CRateCodes,checked
CRefTypes,checked
CRept,checked
CReptGroup,checked
CReviewCodes,checked
CScripting,checked
CService,checked
CShiftCodes,checked
CSkillCodes,checked
CStoreroom,checked
CSupervisors,checked
CTax,checked
CTaxFiling,checked
CTaxFilingConfig,checked
CTaxForm,checked
CTaxLiability,checked
CTermReasons,checked
CTestCodes,checked
CTransfer,checked
CUnions,checked
CUserPreferences,checked
CWCCodes,checked
CWCRates,checked
dbflags,checked
dboptions,checked
E401k,checked
EAccr,checked
EAccrHist,checked
EAutoPay,checked
EAutoPayTemp,checked
ECheckAttribute,checked
ECustomTabData,checked
EDed,checked
EDedTemp,checked
EDep,checked
EDept,checked
EDirDep,checked
EEdu,checked
EEmerg,checked
EEvent,checked
EFringe,checked
EFringeTemp,checked
EInfo,checked
EIns,checked
EInsCoveredDep,checked
ELaborDist,checked
EPayEntry,checked
EPayEntryDetail,checked
EPayEntryDetailTemp,checked
EPayEntryTemp,checked
EPayHist,checked
EPayHistDetail,checked
EPayManual,checked
EPayManualDetail,checked
EPayPrecalc,checked
EPayPrecalcDetail,checked
EPicture,checked
EPrevEmpl,checked
ERate,checked
ERateTemp,checked
EReview,checked
EServices,checked
ESkill,checked
ETax,checked
ETaxTemp,checked
EWorkComp,checked
EYtd,checked
GridConfiguration,checked
LEmployeePayrollGroup,checked
ReportWriterType,checked
ReportWriterTypeField,checked
ReportWriterTypeTable,checked
ReportWriterTypeToTable,checked
RProperty,checked
RReport,checked
RReportType,checked
RRWField,checked
RRWFilter,checked
RRWReport,checked
RRWSort,checked
SCodeTypes,checked
SGenders,checked
SJob,checked
SNotification,checked
SPath,checked
SRatePer,checked
SReciprocal,checked
SStates,checked
SSuppCheck,checked
STaxCodeDetails,checked
SUsers,checked
TNode,checked
VIEW:CAccrGroupCodeList,checked
VIEW:CAutoPostList,checked
VIEW:CCalendarAvailableVMCalendarID,checked
VIEW:CCustomTabList,checked
VIEW:CDetCodesList,checked
VIEW:CInfoDepartmentsList,checked
VIEW:CInfoEmployeeUserFields,checked
VIEW:CRelatedTax,checked
VIEW:ECustomTabList,checked
VIEW:EInfoEmployeeList,checked
VIEW:EInfoSummary,checked
VIEW:EInsCoveredDepList,checked
VIEW:ENewHireAdditionalFields,checked
VIEW:EPayHistoryChecks,checked
VIEW:EPayHistoryDeductions,checked
VIEW:EPayHistoryDirectDeposits,checked
VIEW:EPayHistoryEarnings,checked
VIEW:EPayHistoryTaxes,checked
VIEW:EPayPreCalculationDeductions,checked
VIEW:EPayPreCalculationDirectDeposits,checked
VIEW:EPayPreCalculationEarnings,checked
VIEW:EPayPreCalculationTaxes,checked
VIEW:ReportList,checked
VIEW:ReportWriterAvailableFields,checked
VIEW:ReportWriterAvailableTables,checked
VIEW:ReportWriterReportList,checked
VIEW:STaxW2FieldsList,checked
