BaseClassName,MFEntityBase
DataProviderBassClassName,MFEntityDataProviderBase
UtilityNameSpace,MFUtility
OtherNamespace,using MFEntity.Core.Entity;
ErrorNamespace,
DataAccessNamespace,MFDataAccess.Data
EntityDataProviderNamespace,MFEntity.Entity.Data
EntityNamespace,MFEntity.Entity
CreateSeparateFiles,True
IsWindowsApplication,False
IncludeViews,True
IsWindowsAuthentication,False
DatabaseList,MF_PriceCalculator
Password,Lightspeed2016
UserName,sa
ServerName,10.0.2.151\DEVELOPMENT
txtPreName,
cPreNameClass,False
*PluginList*,
CreateApplyDefaultsOverrideMethodCustom,checked
CreateApplyMandatoryDefaultsOverrideMethod,checked
IdentityFieldInfoProperty,checked
SetIdentityForIdentityFieldColumnMethod,checked
UsePlugins,True
PluginRootPath,C:\SVN\Dev_Utilities\Code Generator\Plugins
AttributeClassesNamespace,
FieldNameCase,Force Upper Case First Character
CreateHTMLDataStructure,False
*TablesSelectedForDatabase*,MF_PriceCalculator
*TablesList*,
Configuration_Field,checked
